{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}
<section>
    <div class="">
        <h2>Welcome {{ user.first_name }}</h2>
        <h5 class="lead">Here You can manage your listings inquiries</h5>
    </div>

</section>
<!-- Alerts -->
{% include 'partials/alerts.html' %}

<!-- User Dashboard -->
<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if contacts %}
                <p>Here are the property listings that you have inquired about</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Property</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.listing }}</td>
                            <td class="td-message">{{ contact.message }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                            </td>
                            <td>
                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#inquiryModal{{contact.id}}">Update</button>
                            </td>
                            <td>
                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete_inquiryModal{{contact.id}}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You have not made any inquiries</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Edit Inquiry Modal -->
{% if contacts %}
    {% for contact in contacts %}
    <div class="modal fade" id="inquiryModal{{contact.id}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action=" {% url 'edit_contact' %} " method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
                        <input type="hidden" name="listing_id" value="{{ contact.listing_id }}">
                        <input type="hidden" name="listing" class="form-control" value="{{ listing.title }}">
                        <input type="hidden" name="name" class="form-control">
                        <input type="hidden" name="email" class="form-control" value="{{ user.email }}" required>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="text" name="phone" class="form-control" value="{{ contact.phone }}" >
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Message:</label>
                            <input name="message" class="form-control" value="{{ contact.message }}">
                        </div>
                        <hr>
                        <input type="submit" value="Update" class="btn btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

<!-- Delete Inquiry Modal -->
{% if contacts %}
{% for contact in contacts %}
<div class="modal fade" id="delete_inquiryModal{{contact.id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <form action=" {% url 'delete_contact' %} " method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
                    <input type="hidden" name="listing_id" value="{{ contact.listing_id }}">
                    <input type="hidden" name="listing" class="form-control" value="{{ listing.title }}">
                    <input type="hidden" name="name" class="form-control">
                    <input type="hidden" name="email" class="form-control" value="{{ user.email }}" required>
                    <input type="hidden" name="phone" class="form-control" value="{{ contact.phone }}">
                    <input type="hidden" class="form-control" value="{{ contact.message }}">
                    <h5>Are you sure you want to delete your inquiry?</h5>
                    <hr>
                    <input type="submit" value="Delete" class="btn btn-danger">
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}