{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase">
    <div class="showcase-inner">
        <h1 class="text-center m-4">
            Meet Our Team
        </h1>
        <p class="lead">We have a great team here at JoDa Real Estate. They will see to it that your every need is met!</p>
        <a href=" {% url 'listings' %} ">
            <button class="button mt-4" type="submit">View Our Listings</button>
        </a>
    </div>
</section>
<!-- About Section  -->
<section class="about">
    <div class="about-card">
        <h2 class="about-h2">We Work For You</h2>
        <p class="about-p">If you choose to work with us finding your dream home, we can guarantee the we will do everyting we can to ensure a pleasant experience.</p>
    </div>
        {% if realtors %}
        {% for realtor in mvp_realtors %}
        <div class="card realtor-month">
            <img class="card-img-top" src="{{ realtor.photo.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">Realtor Of The Month</h5>
                <h6 class="text-secondary">{{ realtor.name }}</h6>
                <i class="fa-solid fa-phone  fs-6 text-secondary">
                    <h6 class="text-secondary">{{ realtor.phone }}</h6>
                </i>
                <i class="fa-solid fa-envelope text-secondary">
                    <h6 class="text-secondary">{{ realtor.email }}</h6>
                </i>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col md 12">
            <p>No Realtors Available</p>
        </div>
        {% endif %}
</section>
<div class="realtor-heading">
    <h2>Realtors</h2>
</div>

<!-- Realtors Section -->
<section class="realtors">
    {% if realtors %}
        {% for realtor in realtors %}
        <div class="card realtor m-3">
            <img class="card-img-top" src="{{ realtor.photo.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">Property Realtor</h5>
                <h6 class="text-secondary">{{ realtor.name }}</h6>
                <i class="fa-solid fa-phone fs-6 text-secondary"></i>
                <h6 class="text-secondary">{{ realtor.phone }}</h6>
                <i class="fa-solid fa-envelope text-secondary"></i>
                <h6 class="text-secondary">{{ realtor.email }}</h6>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col md 12">
            <p>No Realtors Available</p>
        </div>
    {% endif %}
</section>

{% endblock %}