{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase">
    <div class="showcase-inner">
        <h1 class="text-center m-4">
            Meet Our Team
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores
            eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
        <button class="button mt-4" type="submit">View Our Listings</button>
    </div>
</section>
<section class="about">
    <div class="about-card">
        <h2 class="about-h2">We Work For You</h2>
        <p class="about-p">Sed nec dui ut odio volutpat vulputate. Integer at odio a nunc rutrum mattis sit amet sed ex. Ut quis leo vel orci
        pulvinar lobortis. Sed blandit nec mi vitae blandit. Phasellus elementum lacinia ex, ac vestibulum turpis bibendum at.
        Duis imperdiet lorem quis arcu bibendum, eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
        vel neque eget, commodo tincidunt ipsum. In aliquet luctus mollis. Aliquam pellentesque magna nibh, ut cursus nisi
        faucibus in. Ut id erat ex. Nam pretium nunc nec arcu blandit malesuada. Etiam lorem tortor, ultrices vel pretium in,
        facilisis vitae dui. Vestibulum vel nulla turpis.</p>
        <button class="button mt-4" type="submit">Contact Us</button>
    </div>
        {% if realtors %}
        {% for realtor in mvp_realtors %}
        <div class="realtor-card">
            <img class="realtor-img" src=" {{ realtor.photo.url }} " alt="Image of realtor">

            <h4 class="realtor-h4">Realtor Of the Month</h4>
            <h6>{{ realtor.name }}</h6>
            <hr class="hr">
            <div class="contact">
                <i class="fa-solid fa-phone"> {{ realtor.phone }}</i>
                <i class="fa-solid fa-envelope"> {{ realtor.email }}</i>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col md 12">
            <p>No Realtors Available</p>
        </div>
        {% endif %}
</section>
<div class="realtor-heading">
    <h2>Realtors</h2>
</div>
<section class="realtors">
    {% if realtors %}
        {% for realtor in realtors %}
        <div class="realtor-card">
            <img class="realtor-img" src=" {{ realtor.photo.url }} " alt="Image of realtor">
            <h4 class="realtor-h4"> {{ realtor.name }} </h4>
            <h6>Realtor</h6>
            <hr class="hr">
            <div class="contact">
                <i class="fa-solid fa-phone"> {{ realtor.phone }}</i>
                <i class="fa-solid fa-envelope"> {{ realtor.email }}</i>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col md 12">
            <p>No Realtors Available</p>
        </div>
    {% endif %}
</section>

{% endblock %}