{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="showcase">
    <div class="showcase-inner">
        <h1 class="text-center m-4">
            Meet Our Team
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores
            eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
        <button class="button mt-4" type="submit">View Our Listings</button>
    </div>
</section>
<section class="about">
    <div class="about-card">
        <h2 class="about-h2">We Work For You</h2>
        <p class="about-p">Sed nec dui ut odio volutpat vulputate. Integer at odio a nunc rutrum mattis sit amet sed ex. Ut quis leo vel orci
        pulvinar lobortis. Sed blandit nec mi vitae blandit. Phasellus elementum lacinia ex, ac vestibulum turpis bibendum at.
        Duis imperdiet lorem quis arcu bibendum, eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
        vel neque eget, commodo tincidunt ipsum. In aliquet luctus mollis. Aliquam pellentesque magna nibh, ut cursus nisi
        faucibus in. Ut id erat ex. Nam pretium nunc nec arcu blandit malesuada. Etiam lorem tortor, ultrices vel pretium in,
        facilisis vitae dui. Vestibulum vel nulla turpis.</p>
        <button class="button mt-4" type="submit">Contact Us</button>
    </div>
    <div class="realtor-card">
        <img class="realtor-img" src=" {% static 'img/realtor-1.png' %} " alt="">
        <h4>Realtor Of The Month</h4>
        <h6 class="realtor-h6">Alonso Hamilton</h6>
        <p>eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
        vel neque eget, commodo tincidunt ipsum. In aliquet luctu</p>
    </div>
</section>
<section class="realtors">
    <div class="realtor-card">
        <img class="realtor-img" src=" {% static 'img/realtor-1.png' %} " alt="">
        <h4>Realtor Of The Month</h4>
        <h6 class="realtor-h6">Alonso Hamilton</h6>
        <p>eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
            vel neque eget, commodo tincidunt ipsum. In aliquet luctu</p>
    </div>
    <div class="realtor-card">
        <img class="realtor-img" src=" {% static 'img/realtor-1.png' %} " alt="">
        <h4>Realtor Of The Month</h4>
        <h6 class="realtor-h6">Alonso Hamilton</h6>
        <p>eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
            vel neque eget, commodo tincidunt ipsum. In aliquet luctu</p>
    </div>
    <div class="realtor-card">
        <img class="realtor-img" src=" {% static 'img/realtor-1.png' %} " alt="">
        <h4>Realtor Of The Month</h4>
        <h6 class="realtor-h6">Alonso Hamilton</h6>
        <p>eu efficitur lectus pretium. Nullam et auctor quam. Morbi enim ipsum, interdum
            vel neque eget, commodo tincidunt ipsum. In aliquet luctu</p>
    </div>

</section>

{% endblock %}