
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100;300&display=swap');

.container-fluid {
    max-width: 1400px;
}

.navbar {
    font-family: 'Italiana', serif;
}

.navbar-nav {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: black;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #AEA885;
}

#showcase-back {
    margin: 0 auto;
    max-width: 1400px;
    height: 600px;
    background: url(../img/showcase-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 65%;
    border-radius: 10px;
}